{% extends 'layout.html' %}

{% block content %}
<div class="container-md">
    <div class="col-md-12">
        <div class="col-md9">
         <u><p class="display-4 ">Hakkında</p></u>     
        </div>
        <div class="md-col-9">
            <p class="display-4"> Ben Zeynep Şebnem Üzmez <br>
                Fırat Üniversitesinde yazılım mühendiliği üçüncü sınıf öğrencisiyim. <br>
                Bu web sitesini sevidiğim film ve dizileri paylaşmak için oluşturdum.
            </p>
        </div>
    </div>
</div>

    
{% endblock %}