{% extends 'layout.html' %}
{% load static %}


{% block content %}



<div class="row">
    <div class="col-md-12">
       <u><p class="display-4 ">TOP 3</p> </u>  
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/1.jpg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">Mr.Nobody</div>
                        <p class="card-text">
                            Bay Hiçkimse (İngilizce özgün adı: Mr. Nobody), 2009 yapımı, Jaco Van Dormael'in yönetmenliğini yaptığı filmdir. Filmin başrollerinde Jared Leto, Diane Kruger, Rhys Ifans, Sarah Polley, Linh Dan Pham, Daniel Mays ve Natasha Little yer almaktadır. Hafızası gittikçe zayıflayan Nemo, üç ana aşkına ve ailesinin boşanmasına ve ardından hayatının üç kritik kavşağında yaşadığı zorluklara atıfta bulunur: dokuz, on beş ve otuz dört yaşında. Bu kritik kavşakların her birinden çıkan alternatif yaşam yolları incelenir. Spekülatif anlatı, genellikle bu çağların her birinde farklı olası bir kararın hareketiyle yön değiştirir. Film doğrusal olmayan anlatı ve çoklu evren hipotez stilini kullanmaktadır.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/2.jpg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">Dünyalı</div>
                        <p class="card-text">
                            Üniversitede başarılı bir tarih profesörü olan John Oldman ortada hiçbir neden yokken, aniden 10 yılını ayırdığı akademiden istifa etmiştir. Şehirden gitmeye hazırlanırken veda etmek için evine gelen meslektaşları ondan neden istifa edip gitmesi gerektiği konusunda bir açıklama yapmasını isterler. Arkadaşları John'un bu sessizliğine anlam verememektedirler. Önceleri suskun kalan John da neden gitmesi gerektiğini biraz geçmişe dönerek anlatmaya başlar.   Filmde ortamdaki kişiler profesör ve uzmanlardan oluşan bir ekip olduğundan, John'un hayat hikayesini anlatmasıyla birlikte tartışma merak uyandırmaya ve içinden çıkılmaz bir hal almaya başlıyor.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">Kelebek Etkisi</div>
                        <p class="card-text">
                            Treborn çocukluğunda cinsel tacizlere maruz kalmış ve kuvvetli psikolojik travmalar yaşamıştır. Treborn tesadüf eseri zamanda yolculuk yapıp geçmişe dönebildiğini fark eder ve geçmişinin bu bölümlerini silmek için uğraşmaya başlar. Çocukluğuna geri dönmeyi başaran genç adam geçmişini yeniden kurgulamaya başlar.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}