{% extends 'layout.html' %}

{% load static %}
{% load humanize %}
{% block content %}




<div class="row">
    <div class="col-md-12">

        {% if series %}
            {% for serie in series %}
                <div class="card mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static serie.get_image_path %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title"> 
                                <a href="{% url 'detail' serie.id %}"> {{ serie.name }}</a>
                             </div>
                            <p class="card-text">
                                    {{ serie.description }} 
                            </p>
                            <p class="card-text">
                                <small class="text-muted">{{ serie.created_date | timesince }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                </div>
            {% endfor %}

        {% else %}
            <div class="alert alert-warning">
                <p>
                    No Series
                </p>
            </div>
        {% endif %}      
     
    </div>
</div>
{% endblock %}